<div class="u-pY-80">
  <div class="u-inner2 u-ta-c">
    <h1 class="u-title1">About</h1>
    <p class="u-mt-30 u-fz-16">
      <b>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </b>
    </p>
    <figure class="u-mt-30">
      <%= image_tag 'about_family_cake.png', alt: 'アバウトのイメージ', width: 600, height: 400 %>
    </figure>
  </div>
</div>
