<h2>ジャンル編集</h2>

<%= form_with model: @genre, url: admin_genre_path(@genre), local: true do |f| %>
  <div>
    <%= f.label :name, "ジャンル名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit "変更を保存" %>
  </div>
<% end %>