<section class="u-pY-50">
  <div class="u-inner">
    <h1 class="u-title3 u-mb-30">
      <span>ジャンル編集</span>
    </h1>

    <%= form_with model: @genre, url: admin_genre_path(@genre), local: true do |f| %>
      <div class="u-pc:d-f opt-center-y u-gap-30">
        <div>
          <%= f.label :name, "ジャンル名" %>
          <%= f.text_field :name, class: "u-form-textfield" %>
        </div>

        <div class="u-btn-wrapper u-sp:mt-20">
          <%= f.submit "変更を保存", class: "u-btn u-fw-b opt-small" %>
        </div>
      </div>
    <% end %>
  </div> 
</section>